<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Plana Network</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="theme-color" content="#4870fe">
        <meta property="og:title" content="Plana Network">
        <meta property="og:description" content="Welcome to our website! Plana Network is a non-profit that's based in the United States. Our mission is to inspire and educate future developers, and help novice or experienced developers.">
        
        <link id="favicon" rel="icon" href="https://cdn.glitch.global/44d5f05c-b1dc-426c-81e3-134c42d74936/Plana%20Network.png" type="image/x-icon">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="left">
            <p class="navhead">Quick Links</p>

            <p class="nav"><a href="/">Home</a></p>
            <p class="nav"><a href="https://staff.plana.network/">Staff Directory</a></p>
            <p class="nav"><a href="https://panel.plana.network/">Hosting Panel</a></p>
            <p class="nav"><a href="https://discord.plana.network/">Discord Invite</a></p>
        </div>

        <div id="main">
            <h1>Plana Network</h1>

            <blockquote><p><i>Code is like humor. When you have to explain it, it's bad.</i> -- Cory House</p></blockquote>

            <p>Welcome to our website! Plana Network is a non-profit that's based in the United States. Our mission is to inspire and educate future developers, and help novice or experienced developers.</p>

            <p>You can find more information about our organization such as the services we provide, how we provide them and more.</p>

            <h2>Service Offerings</h2>

            <ul>
                <li>Website Hosting</li>
                <li>Database Hosting</li>
                <li>Discord Bot Hosting</li>
                <li>Application Testing Environments</li>
            </ul>

            <h2>Industry Partners</h2>

            <p>We're able to provide the services we provide through partnerships. You can find links to our partners below.</p>

            <ul>
                <li><a href="https://hostmc4free.com/">HostMC4Free</a></li>
            </ul>

            <h2>Board of Directors</h2>

            <p>Directors are administrative-level team members who are responsible for managing aspects of our organization.</p>

            <ul>
                <li>Damian Freeman (Chairman of the Board of Directors)</li>
                <li>Nicholas Disalvio (Vice Chairman of the Board of Directors)</li>
                <li>Strawberry Fields</li>
            </ul>

            <br>

            <iframe src="https://discord.com/widget?id=927799059530534962&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </body>
</html>